
<br><br>
<div class="dropdown">

    <%=button_to 'Government Documents',gov_docs_path	,method: :get,class:'btn btn-secondary'%>
    <br>
    <%=button_to 'Educational Documents',edu_docs_path,method: :get,class:'btn btn-secondary'%>

</div>
<%= link_to 'Back', e_mains_path %>
